{% extends 'layout/backend/base.html.twig' %}

{% block body %}
    <div class="main-section pt-5" data-module="productmanagement">
        <h3 class="mb-3">Ihre registrierten Produkte: {{ productAmount }}</h3>
        <div class="row">
            {% for product in products %}
                <div class="col-4 pb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Name: {{ product.name }}</h4>
                            <h5 class="card-title">Price: {{ product.description }}</h5>
                            <p class="card-text">Description: {{ product.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-4 pb-3 ">
                <div class="card">
                    <div class="card-body add-product">
                        +
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}