{% extends 'layout/backend/base.html.twig' %}

{% block body %}
    <div class="main-section pt-5" data-module="productmanagement">
        <div class="row">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}