.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav ul {
    list-style-type: none;
}

.sidenav a {
    align-content: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    fill: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    fill: #f1f1f1;
    cursor: pointer;
}

.sidenav a.active {
    background-color: #110;
    border: 1px solid lightgray;
    color: #f1f1f1;
    fill: #f1f1f1;
}

.sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
}

.sidenav .burgerbtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}