{% extends 'layout/backend/base.html.twig' %}

{% block body %}
    <div class="main-section">
        <h2>Welcome</h2>
        <p>You're now logged in as Backendadministrator.</p>
        <p>Have fun managing your webshop.</p>
    </div>
{% endblock %}